{% extends 'company/base.html' %}


{% block title %}Reset Password{% endblock title %}

{% block content%}

    <center>
        <h1>Reset Password</h1>
    </center>
    {% if message %}

     <h3>{{ error }}</h3>

    {% else %}

        <form method="POST">
            {% csrf_token %}
            <center>
            <div class="form-group w-50">
              <label for="username">Username (หรือ email)</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>

           

            <button type="submit" class="btn btn-info">Reset Password</button><br><br>
            </center>
       
            {% endif %}

        </form>










{% endblock content%}